	<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ネットでカレー注文</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link href="../static/css/piza.css" th:href="@{/css/piza.css}" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="item_list.html" th:href="@{/}"> 
<!-- 					企業ロゴ  -->
					<img alt="main log" src="../static/img_curry/header_logo.png" th:src="@{/img_curry/header_logo.png}" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-right">
						<a href="cart_list.html" th:href="@{/show_cart_list}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
						<a href="order_history.html" th:if="${session.user}" th:text="'注文履歴'" th:href="@{/order-history}" class="navbar-link">注文履歴</a>&nbsp;&nbsp;
						<a href="login.html" class="navbar-link" th:unless="${session.user}" th:href="@{/login}" th:text="ログイン">ログイン</a>&nbsp;&nbsp;
						<a href="item_list.html" class="navbar-link" th:if="${session.user}" th:href="@{/login/logout}" th:text="ログアウト">ログアウト</a>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		
				<div class="row">
			<div class="col-xs-offset-4 col-xs-4">
			<a href="order_history_detail.html" th:href="@{'/order-history/detail?orderId='+${orderId}}">
						<input class="form-control btn btn-warning btn-block"
							type="button" value="注文履歴詳細へ戻る">
				</a>
			</div>
		</div>
		<br>
			<!-- table -->
		<div class="row" th:unless="${nonOrderMessage}">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>
									&nbsp;&nbsp;&nbsp;&nbsp;商品
							</th>
							<th>
								<div class="text-center">
									商品特徴
								</div>
							</th>
						</tr>
						<tr>
							<td>
							<div class="center">
							&nbsp;&nbsp;&nbsp;&nbsp;
									<img src="../static/img_pizza/1.jpg" th:src="@{'/img_curry/'+${item.imagePath}}"
										class="img-responsive img-rounded" width="100" height="300"><br>
								<span th:text="${item.name}">じゃがバターベーコン</span>
								</div>
							</td>
							<td>
							<div class="text-center" th:text="${item.description}">やわらかくあっさりとしたヒレ肉を上質な衣で包み込みました。4種類の濃厚な味わいが一つで楽しめるカレーです</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
			
		<!-- login form -->
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				<div class="well">
					<form method="post"  th:action="@{/review/post}" th:object="${reviewForm}">
						<fieldset>
							<legend>口コミ投稿</legend>
							<div class="form-group">
								<div th:errors="*{authorName}" style="color:red"></div>
								<label>名前:</label>
								<input type="text" th:unless="*{authorName}" th:value="${userName}" name="authorName" >
								<input type="text" th:if="*{authorName}" th:field="*{authorName}" name="authorName" >
							</div>
							<div class="form-group">
								<div th:errors="*{evaluation}" style="color:red"></div>
								<label for="evaluation">評価:</label>
								<select name="evaluation" id="evaluation">
									<option selected>点数を選択してください</option>
									<option value="5">★★★★★　(5点/5点)</option>
									<option value="4">★★★★☆　(4点/5点)</option>
									<option value="3">★★★☆☆　(3点/5点)</option>
									<option value="2">★★☆☆☆　(2点/5点)</option>
									<option value="1">★☆☆☆☆　(1点/5点)</option>
								</select>
								
							</div>
							<div class="form-group">
								<label>コメント:</label><br>
								<div th:errors="*{review}" style="color:red"></div>
							<textarea rows="5" cols="50px" name="review" th:field=*{review}></textarea>
							</div>
							<input type="hidden" name="orderId" th:value="${orderId}">
							<input type="hidden" name="orderItemId" th:value="${orderItemId}">
							<input type="hidden" name="itemId" th:value="${item.id}">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">登録</button>
								<input type="reset" class="btn btn-primary" value="クリア">
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	
		<br><br><br><br>

	</div>
	<!-- end container -->
		<!-- end container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
	<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/get_address.js}" src="../static/js/get_address.js"></script>
</body>
</html>